.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(253, 230, 198, 0.541);
  width: 30%;
  margin: 0 auto;
  height: 25rem;
  padding: 10px;
  font-weight: 600;
  padding: 25px;
  border-radius: 10px 10px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
input{
  margin-bottom: 11px;
  font-family: "Quicksand";
  font-weight: 450;
  font-size: 15px;
  width: 100%;
}
.registerBtn{
  width: 50%;
  height: 35px;
  font-weight: 600;
  font-family: "Quicksand";
  color: white;
  background-color: rgb(43, 43, 101);
  font-size: 15px;
  border: 0 solid white;
  border-radius: 5px 5px;
  margin-bottom: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 230, 198, 0.541);
  width: 30%;
  margin: 0 auto;
  height: 15rem;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
p{
  margin-bottom: 2px;
}
.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}
.centerBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: rgb(15, 65, 99);
  font-weight: bolder;
}
.homepage{
  display: block;
  background-color: rgba(253, 230, 198, 0.541);
  width: 40%;
  height: 50px;
  align-items: center;
  margin: 0 auto;
  border-radius: 7px 7px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.homepage h1{
  text-align: center;
  margin-top: 210px;
  align-items: center;
  color: rgb(27, 52, 99);
}
.all-contact-page{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
}
.contact-card{
  display: block;
  background-color: rgb(251, 247, 247);
  margin: 0 auto;
  text-align: center;
  height: 100%;
  position: relative;
  width: 100%;
  padding: 6px;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#root > div > div > div > form > label:nth-child(9) > p{
  font-weight: lighter;
  color: red;
}
